@media (max-width: 1366px) {
    .container{
        max-width: 960px;
    }
    .promo{
        background-position: top right -400px;
        background-size: 1100px;
    }
    .rating{
        margin-right: 15px;
    }
    .category, .price{
        font-size: 14px;
    }
    .category{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 150px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .promo{
        padding:50px;
        background-position: top right -450px;
        background-size: 1000px;
    }
    .promo-text{
       font-size: 18px;
        max-width: 400px;
    }
    .card{
        flex-basis: 40%;
    }
    .footer-link{
        font-size: 16px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 560px;
    }
    .rating{
        flex-basis: 100%;
    }
    .card-info{
        flex-wrap: wrap;
    }
    .card-title{
        font-size: 18px;
    }
    .promo-title{
        font-size: 24px;
        line-height: 1.4;
    }
    .promo{
        padding:50px;
        background-position: top right -400px;
        background-size: 850px;
    }
    .promo-text{
        margin-top: 0;
    }
}

@media (max-width: 578px ){
    .container{
        width: 90%;
    }
    .header{
        flex-wrap: wrap;
    }
    .addres-input{
        margin-top: 15px;
        order: 5;
        flex: 1;
    }
    .promo{
        background-image: none;
    }
    .promo-title{
        margin-bottom: 10px;
    }
    .section-title{
        font-size: 20px;
    }
    .card{
        flex-basis: 100%;
    }
    .card-image{
        width: 100%;
    }
    .footer-nav{
        order: 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }
    .footer-logo{
        order: 1;
        margin-right: 15px;
    }
    .social-links{
        order: 2;
    }
    .footer{
        padding: 30px 0;
    }
    .footer-block{
        align-items: flex-start;
        justify-content: space-between;
    }
}
@media (max-width: 480px){
    .button-text{
        display: none;
    }
    .button-icon{
        margin: 0;
    }
    .button{
        min-height:40px ;
    }
    .section-heading{
        flex-wrap: wrap;
    }
    .promo{
        padding: 20px;
    }
    .footer{
        flex-wrap: wrap;
    }
    .footer-block{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo{
        order: 0;
        margin-bottom: 20px;
    }
    .footer-nav{
        margin-bottom: 20px;
        align-items: center;
    }
    .social-links:not(:last-child){
        margin-right: 0;
    }

}